#contact div{
    background-color: re;
    width: 420px;
    height: 240px;
    float: left;
    margin: 25px;
}
#contact div h2{

    font-family: TITLE;
    color: #56008c;
    font-size: 2em;
    text-align: center;
}
#contact div p{

    font-size: 1.5em;
    font-family: BODY;
    text-align: center;
    color: white;
}
#contact div img{
    float: left;
    padding: 0 20px 0 15px;
    cursor: pointer;
}

#contact #logo{

    background-color: white;
    height: 100px;
    width: 390px;
    padding: 0;
    margin: 0 0 0 68%;
    border-radius: 80px;
background-image: url(/src/app/Components/home/logo-footer.png);

}