<section id="offers">
    <h3>Ofertas</h3>
    <div id="of1"><strong><p>Cuidado <br>de niños</p></strong></div>
    <div id="of2"><strong><p>Cocina</p></strong></div>
    <div id="of3"><strong><p>Servicios <br>Generales</p></strong></div>
    <div id="of4"><strong><p>Otros</p></strong></div>
    </section>
    <footer id="contact">
    
    <div>
      <h2>Canale de Contacto</h2>
    <p>31253998 <br>
      5526651
    </p>
    </div>
    
    <div>
      <h2>Dirección</h2>
    <p>carrera 25 # 28-64</p>
    </div>
    
    <div>
      <h2>Nuestras redes</h2>
    <img src="/src/app/Components/home/redes/youtube.png" alt="">
    <img src="/src/app/Components/home/redes/instagram.png" alt="">
    <img src="/src/app/Components/home/redes/facebook.png" alt="">
    </div>
    
    
    <div id="logo"></div>
    
    
    </footer>
