<header class="temp Up-bac">
    <h1 class="text-center Up-bac">Aqui va el header</h1>
</header>
<div class="of1">
    <section class="pribg">
        <div class="col-lg-6 offset-3 pt-5">
            <form class="form-inline Up-bac">
                <legend class="text-center text-white">¡Busca el mejor proyecto para ti!</legend>
                <input class="form-control mr-sm-2 Up-bac" type="search" placeholder="Search" aria-label="Buscar"><br>
                <div class="mx-auto" style="width: 3rem;">
                    <button class="btn btn-success" type="submit">Search</button>
                </div>
            </form>
        </div>
    </section>
</div>
