<header class="temp">
    <h1 class="text-center">Aqui va el header</h1>
</header>
<section class="sectionp">
<div class="cleft bacbground-primary p-5">

    <div class="card">
      <img class="card-img-top p-2" src="https://us.123rf.com/450wm/kritchanut/kritchanut1406/kritchanut140600114/29213224-hombre-foto-de-perfil-silueta-avatar.jpg?ver=6" alt="Card image cap"/>
      <a class="editbt" href='add link here' alt='Buy Tickets'><i class="fa-solid fa-pen-to-square"></i></a>
    </div>


    <ul class="list-group">
      <li class="list-group-item">
        <p class="card-text">Aqui va el texto que describe las cosas basicas del perfil de la persona.</p>
        <a class="editbt" href='add link here' alt='Buy Tickets'><i class="fa-solid fa-pen-to-square"></i></a>
      </li>
      <li class="list-group-item">Nombre <h4>Julian Hernandez</h4><a class="editbt" href='add link here' alt='Buy Tickets'><i class="fa-solid fa-pen-to-square"></i></a></li>
      <li class="list-group-item">Ubicación <h4>Bogotá D.C.</h4><a class="editbt" href='add link here' alt='Buy Tickets'><i class="fa-solid fa-pen-to-square"></i></a></li>
      <li class="list-group-item">Direccon de residencia <h4>Cr xx #xx-XX</h4><a class="editbt" href='add link here' alt='Buy Tickets'><i class="fa-solid fa-pen-to-square"></i></a></li>
      <li class="list-group-item">Telefono <h4>3156600106</h4><a class="editbt" href='add link here' alt='Buy Tickets'><i class="fa-solid fa-pen-to-square"></i></a></li>
      <li class="list-group-item">Documento <h4>1010241874</h4><a class="editbt" href='add link here' alt='Buy Tickets'><i class="fa-solid fa-pen-to-square"></i></a></li>
      <li class="list-group-item">Contacto de Emergencia <h4>Cristian Ortiz</h4>Tel: 321568956<a class="editbt" href='add link here' alt='Buy Tickets'><i class="fa-solid fa-pen-to-square"></i></a></li>
      <li class="list-group-item">Metodos de pago asociados <h4>Nequi</h4><button class="btn btn-info">Mostrar</button></li>

    </ul>

</div>
<div class="row float-end p-4">

    <h1 class="text-center">Servicios contratados</h1>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mecanico automotriz</h5>
          <p class="card-text">Tienes un contrato por dos dias <br>
              Jhoan Ramirez <br>
              Tel: 3158462358
          </p>
          <a href="#" class="btn btn-primary">Detalles</a>
         </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      
  </div>

</section>